/* ==========================================================================
   WooCommerce Buttons Responsive styles - begin
   ========================================================================== */

@media only screen and (max-width: $laptop-landscape) {

    .woocommerce-page .edgtf-content,
    div.woocommerce {

        a.button,
        a.added_to_cart,
        input[type="submit"],
        button[type="submit"] {
            height: 46px;
            line-height: 46px;
            padding: 0 36px;
        }
    }
}
/* ==========================================================================
   WooCommerce Buttons Responsive styles - end
   ========================================================================== */