/* ==========================================================================
   WooCommerce Track Order styles - begin
   ========================================================================== */

.edgtf-woocommerce-page.edgtf-woocommerce-order-tracking {

    .woocommerce {
        margin: 0 0 45px;

        > .track_order {
            display: block;
            margin: 0 0 60px;
            text-align: center;

            > p:not(.form-row) {
                display: block;
                padding: 0 0 70px;
                margin: 0 0 60px;
                font-size: 18px;
                line-height: 34px;
                border-bottom: 1px solid $default-border-color;
            }

            .form-row-first,
            .form-row-last {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                width: 50%;
                float: left;
                text-align: left;
                @include edgtfBoxSizing(border-box);

                label {
                    display: block;
                    margin: 0 0 15px;
                    color: $default-heading-color;
                    font-weight: 500;
                }
            }

            .form-row-first {
                padding: 0 7px 0 0;
            }

            .form-row-last {
                padding: 0 0 0 7px;
            }

            .button {
                margin: 12px 0 0;
            }
        }

        table.shop_table {

            a {
                color: $default-text-color;

                &:hover {
                    color: $default-heading-color;
                }
            }
        }
    }
}
/* ==========================================================================
   WooCommerce Track Order styles - end
   ========================================================================== */