/* ==========================================================================
# Woocommerce Product List Carousel Shortcode responsive style - begin
========================================================================== */

@media only screen and (max-width: 1300px) {

    .edgtf-plc-holder {

        .edgtf-plc-item {

            .edgtf-plc-title {
                margin: 0 0 10px;
            }

            .edgtf-plc-price {
                font-size: 14px;
                margin: 10px 0 6px;
            }

            .edgtf-plc-rating-holder {
                margin: 8px 0 10px;
            }

            .edgtf-plc-excerpt {
                margin: 12px 0 7px;
            }

            .button,
            .added_to_cart {
                height: 44px;
                line-height: 44px;
                padding: 0 36px;
                margin: 20px 0 0;
            }
        }
    }
}

@media only screen and (max-width: $ipad-landscape) {

    .edgtf-plc-holder {

        &.edgtf-navigation-image {

            .owl-nav {

                .owl-prev {
                    left: 15px;

                    &:hover {

                        .edgtf-prev-icon {

                            .edgtf-nav-label {
                                left: 5px;
                            }
                        }
                    }
                }

                .owl-next {
                    right: 15px;

                    &:hover {

                        .edgtf-next-icon {

                            .edgtf-nav-label {
                                right: 5px;
                            }
                        }
                    }
                }

                .edgtf-prev-icon,
                .edgtf-next-icon {

                    .edgtf-nav-label {
                        font-size: 11px;
                    }
                }

                .edgtf-prev-icon {

                    .edgtf-nav-label {
                        left: 10px;
                    }
                }

                .edgtf-next-icon {

                    .edgtf-nav-label {
                        right: 10px;
                    }
                }
            }
        }

        &.edgtf-navigation-icon-font {

            .owl-nav {

                .owl-prev {
                    left: 6px;
                }

                .owl-next {
                    right: 6px;
                }

                .edgtf-prev-icon,
                .edgtf-next-icon {

                    .edgtf-icon-arrow {
                        font-size: 52px;
                    }

                    .edgtf-nav-label {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $ipad-portrait) {
    
    .edgtf-plc-holder {

        &.edgtf-simple-type {
        
            .edgtf-plc-image-outer,
            .edgtf-plc-text-wrapper {
                display: inline-block;
                width: 100%;
                padding: 0;
            }

            .edgtf-plc-text-wrapper {
                margin: 30px 0 40px;
            }
        }
    }
}

@media only screen and (max-width: $phone-landscape) {

    .edgtf-plc-holder {

        .owl-nav {
            display: none;
        }
    }
}
/* ==========================================================================
# Woocommerce Product List Carousel Shortcode responsive style - end
========================================================================== */