/* Woocommerce Product List Carousel Shortcode - begin
========================================================================== */

.edgtf-plc-holder {
    @include edgtfRelativeHolderLayout();

    .edgtf-plc-outer {
        @include edgtfRelativeHolderLayout();
        visibility: hidden;
    }

    .edgtf-plc-item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 0;
        z-index: 100;
        overflow: hidden;
        @include edgtfBoxSizing(border-box);

        &:hover {

            .edgtf-plc-image-outer {

                .edgtf-plc-text {
                    opacity: 1;
                }
            }
        }

        .touch & {
            cursor: pointer;
        }

        .edgtf-plc-image-outer {
            @include edgtfRelativeHolderLayout();

            .edgtf-plc-image {
                @include edgtfRelativeHolderLayout();

                img {
                    display: block;
                    width: 100%;
                }

                .edgtf-plc-onsale,
                .edgtf-plc-out-of-stock,
                .edgtf-plc-new-product {
                    position: absolute;
                    display: block;
                    top: 0;        
                    width: auto;
                    height: 29px;
                    color: #fff;
                    font-size: 10px;
                    line-height: 29px;
                    font-weight: 500;
                    letter-spacing: 2px;
                    padding: 0 20px;
                    margin: 0;
                    background-color: $default-heading-color;
                    text-align: center;
                    z-index: 2;
                    @include edgtfTransform(translateZ(0));
                    @include edgtfBoxSizing(border-box);
                }

                .edgtf-plc-onsale {
                    left: 0;
                }

                .edgtf-plc-out-of-stock,
                .edgtf-plc-new-product {
                    right: 0;
                }
            }

            .edgtf-plc-text {
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                width: 100%;
                height: 100%;
                padding: 10px 15px;
                opacity: 0;
                background-color: rgba(51, 51, 51, 0.6);
                @include edgtfBoxSizing(border-box);
                @include edgtfTransition(opacity .2s ease-out, background-color .2s ease-out);
            }

            .edgtf-plc-text-outer {
                position: relative;
                display: table;
                width: 100%;
                height: 100%;
                text-align: center;
            }

            .edgtf-plc-text-inner {
                position: relative;
                display: table-cell;
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
        }

        .edgtf-plc-title {
            margin: 0 0 14px;
            text-transform: uppercase;
        }

        .edgtf-plc-price {
            font-size: 16px;
            line-height: 1;
            font-weight: 800;
            letter-spacing: 1px;
            margin: 14px 0 7px;
            color: $default-heading-color;

            * {
                font-size: inherit;
                line-height: inherit;
            }

            del {
                color: $default-text-color;
            }

            ins {
                text-decoration: none;
            }
        }

        .edgtf-plc-rating-holder {
            @include edgtfRelativeHolderLayout();
            line-height: 1;
            margin: 10px 0 24px;
        }

        .edgtf-plc-rating {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            font-family: "ElegantIcons";
            font-size: 12px;
            line-height: 1;
            letter-spacing: 3px;
            color: $default-heading-color;                
            overflow: hidden;
            -webkit-font-smoothing: antialiased;

            &:before {
                content: "\e031\e031\e031\e031\e031";
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;

                &:before {
                    content: "\e033\e033\e033\e033\e033";
                }
            }
        }

        .edgtf-plc-excerpt {
            @include edgtfRelativeHolderLayout();
            margin: 15px 0 18px;

            p {
                margin: 0;
            }
        }

        .button,
        .added_to_cart {
            position: relative;
            display: inline-block;
            width: auto;
            height: 54px;
            line-height: 54px;
            padding: 0 46px;
            margin: 22px 0 0;
            font-size: 11px;
            font-weight: 500;
            letter-spacing: 2px;            
            border: 0;
            outline: none;
            white-space: nowrap;
            cursor: pointer;
            vertical-align: middle;
            text-transform: uppercase;
            z-index: 2;
            overflow: hidden;
            @include edgtfBoxSizing(border-box);
            @include edgtfTransition(color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out);
        }

        .button.added {
            display: none;
        }

        .edgtf-plc-link {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }

    &.edgtf-standard-type {

        .edgtf-plc-item {

            &:hover {

                .edgtf-pl-yith {
                    bottom: 0;
                }
            }

            .edgtf-plc-title {
                color: #fff;
            }

            .edgtf-plc-price {
                color: #fff;

                del {
                    color: #fff;
                }
            }

            .edgtf-plc-rating {
                color: #ccc;
            }

            .button,
            .added_to_cart {
                color: transparent;
                background-color: #fff;

                &:before,
                &:after {
                    content: attr(data-title);
                    position: absolute;
                    top: 1px;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;                
                    text-align: center;
                    -webkit-transition: color .2s ease-in-out, -webkit-transform .2s ease-in-out;
                    -moz-transition: color .2s ease-in-out, -moz-transform .2s ease-in-out;
                    transition: color .2s ease-in-out, transform .2s ease-in-out;            
                    -webkit-filter: blur(0);
                }

                &:before {
                    color: $default-heading-color;
                    @include edgtfTransform(translateY(0%));
                }

                &:after {
                    color: transparent;
                    @include edgtfTransform(translateY(40%));
                }

                &:hover {
                    color: transparent;
                    background-color: #fff;
                    
                    &:before {
                        color: transparent;
                        @include edgtfTransform(translateY(-40%));
                    }

                    &:after {
                        color: $default-heading-color;
                        @include edgtfTransform(translateY(0%));
                    }
                }
            }

            .added_to_cart {

                &:before,
                &:after {
                    content: attr(title);
                }
            }

            .button.yith-wcqv-button {
                display: none !important;
            }

            .edgtf-pl-yith {
                position: absolute;
                bottom: -101%;
                left: 0;
                display: inline-block;
                vertical-align: middle;
                height: 40px;
                line-height: 24px;
                padding: 8px 0;
                width: 100%;
                z-index: 4;            
                background-color: $default-heading-color;
                @include edgtfTransition(bottom .35s ease-in-out);
                @include edgtfBoxSizing(border-box);

                &.edgtf-pl-yith-items {

                    .edgtf-pl-yith-inner {

                        > *:first-child {
                            border-right: 1px solid $default-text-color;
                        }
                    }
                }

                .edgtf-pl-yith-inner {
                    position: relative;
                    display: table;
                    width: 100%;
                    vertical-align: top;
                    text-align: center;
                    
                    > .clear {
                        display: none;
                    }

                    > * {
                        display: table-cell;
                        vertical-align: middle;
                        width: 50%;
                        margin: 0;
                        @include edgtfBoxSizing(border-box);

                        * {
                            max-height: 24px;
                        }
                    }
                }

                .yith-wcwl-add-button {

                    a {
                        width: 100%;
                        color: #fff;
                        font-size: 0px;
                        line-height: inherit;
                    }
                }

                .yith-wcwl-wishlistaddedbrowse,
                .yith-wcwl-wishlistexistsbrowse {

                    span {
                        display: none;
                    }

                    a {
                        color: #fff;
                        font-size: 0px;
                        line-height: inherit;
                    }
                }

                .yith-wcqv-button {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    color: #fff;

                    .blockUI {
                        display: none !important;
                    }

                    .edgtf-yith-wcqv-icon {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        color: inherit;
                        font-size: 30px;
                        line-height: inherit;
                        opacity: 1;
                        @include edgtfTransition(opacity .3s ease-out);

                        &:before {
                            display: block;
                            line-height: inherit;
                        }
                    }

                    .edgtf-yith-wcqv-label {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        display: inline-block;
                        vertical-align: top;
                        color: inherit;
                        font-size: 11px;
                        line-height: inherit;
                        letter-spacing: 2px;
                        font-weight: 500;
                        white-space: nowrap;
                        opacity: 0;
                        -webkit-filter: blur(0);
                        @include edgtfTransform(translateX(-50%));
                        @include edgtfTransition(opacity .3s ease-out);
                    }

                    &:hover {

                        .edgtf-yith-wcqv-icon {
                            opacity: 0;
                        }

                        .edgtf-yith-wcqv-label {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &.edgtf-simple-type {
        
        .edgtf-plc-image-outer {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
            padding: 0 15px 0 0;
        }

        .edgtf-plc-text-wrapper {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            width: 50%;
            padding: 0 0 0 15px;
        }

        .edgtf-plc-text,
        .edgtf-plc-text-outer,
        .edgtf-plc-text-inner {
            @include edgtfRelativeHolderLayout();
            -webkit-transform: translateZ(0);
        }

        .edgtf-plc-item {

            .button,
            .added_to_cart {
                color: transparent;
                background-color: $default-heading-color;

                &:before,
                &:after {
                    content: attr(data-title);
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;                
                    text-align: center;
                    -webkit-transition: color .2s ease-in-out, -webkit-transform .2s ease-in-out;
                    -moz-transition: color .2s ease-in-out, -moz-transform .2s ease-in-out;
                    transition: color .2s ease-in-out, transform .2s ease-in-out;            
                    -webkit-filter: blur(0);
                }

                &:before {
                    color: #fff;
                    @include edgtfTransform(translateY(0%));
                }

                &:after {
                    color: transparent;
                    @include edgtfTransform(translateY(40%));
                }

                &:hover {
                    color: transparent;
                    background-color: $default-heading-color;
                    
                    &:before {
                        color: transparent;
                        @include edgtfTransform(translateY(-40%));
                    }

                    &:after {
                        color: #fff;
                        @include edgtfTransform(translateY(0%));
                    }
                }
            }

            .added_to_cart {

                &:before,
                &:after {
                    content: attr(title);
                }
            }
        }
    }

    &.edgtf-navigation-image {

        .owl-nav {

            .owl-prev,
            .owl-next {
                position: absolute;
                top: 50%;
                z-index: 3;
                @include edgtfTransform(translateY(-50%));

                &:hover {

                    .edgtf-prev-icon {

                        .edgtf-nav-label {
                            left: 10px;
                        }
                    }

                    .edgtf-next-icon {

                        .edgtf-nav-label {
                            right: 10px;
                        }
                    }
                }
            }

            .owl-prev {
                left: 30px;
            }

            .owl-next {
                right: 30px;
            }

            .edgtf-prev-icon,
            .edgtf-next-icon {
                position: relative;
                display: inline-block;
                vertical-align: middle;                
                line-height: 1;
                white-space: nowrap;

                .edgtf-icon-arrow,
                .edgtf-nav-label {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: inherit;
                }

                .edgtf-icon-arrow {
                    width: 20px;
                    height: 36px;
                    @include edgtfTransition(background .2s ease-out);

                    &:before {
                        display: none;
                    }
                }

                .edgtf-nav-label {
                    color: $default-heading-color;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 2px;
                }
            }

            .edgtf-prev-icon {

                .edgtf-icon-arrow {
                    background-image: url('img/prev.png');

                    @media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:150/100), only screen and (min-device-pixel-ratio:1.5), only screen and (min-resolution:160dppx) {
    
                        & {
                            -webkit-background-size: 20px 36px;
                            -moz-background-size: 20px 36px;
                            -o-background-size: 20px 36px;
                            background-size: 20px 36px;
                            background-image: url('img/prev@1_5x.png');
                        }
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio:2.0), only screen and (min--moz-device-pixel-ratio:2.0), only screen and (-o-min-device-pixel-ratio:200/100), only screen and (min-device-pixel-ratio:2.0), only screen and (min-resolution:210dppx) {
                        
                        & {
                            -webkit-background-size: 20px 36px;
                            -moz-background-size: 20px 36px;
                            -o-background-size: 20px 36px;
                            background-size: 20px 36px;
                            background-image: url('img/prev@2x.png');
                        }
                    }
                }

                .edgtf-nav-label {
                    left: 15px;
                    @include edgtfTransition(left .2s ease-out);
                }
            }

            .edgtf-next-icon {

                .edgtf-icon-arrow {
                    background-image: url('img/next.png');

                    @media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:150/100), only screen and (min-device-pixel-ratio:1.5), only screen and (min-resolution:160dppx) {
    
                        & {
                            -webkit-background-size: 20px 36px;
                            -moz-background-size: 20px 36px;
                            -o-background-size: 20px 36px;
                            background-size: 20px 36px;
                            background-image: url('img/next@1_5x.png');
                        }
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio:2.0), only screen and (min--moz-device-pixel-ratio:2.0), only screen and (-o-min-device-pixel-ratio:200/100), only screen and (min-device-pixel-ratio:2.0), only screen and (min-resolution:210dppx) {
                        
                        & {
                            -webkit-background-size: 20px 36px;
                            -moz-background-size: 20px 36px;
                            -o-background-size: 20px 36px;
                            background-size: 20px 36px;
                            background-image: url('img/next@2x.png');
                        }
                    }
                }

                .edgtf-nav-label {
                    right: 15px;
                    @include edgtfTransition(right .2s ease-out);
                }
            }
        }
    }

    &.edgtf-navigation-icon-font {

        .owl-nav {

            .owl-prev,
            .owl-next {
                position: absolute;
                top: 50%;
                z-index: 3;
                @include edgtfTransform(translateY(-50%));

                &:hover {

                    .edgtf-prev-icon {

                        .edgtf-nav-label {
                            left: -15px;
                        }
                    }

                    .edgtf-next-icon {

                        .edgtf-nav-label {
                            right: -15px;
                        }
                    }
                }
            }

            .owl-prev {
                left: 12px;
            }

            .owl-next {
                right: 12px;
            }

            .edgtf-prev-icon,
            .edgtf-next-icon {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                color: $default-heading-color;
                line-height: 1;

                .edgtf-icon-arrow,
                .edgtf-nav-label {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: inherit;
                }

                .edgtf-icon-arrow {
                    font-size: 60px;

                    &:before {
                        display: block;
                    }
                }

                .edgtf-nav-label {
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 2px;
                }
            }

            .edgtf-prev-icon {

                .edgtf-nav-label {
                    left: -10px;
                    @include edgtfTransition(left .2s ease-out);
                }
            }

            .edgtf-next-icon {

                .edgtf-nav-label {
                    right: -10px;
                    @include edgtfTransition(right .2s ease-out);
                }
            }
        }
    }

    &.edgtf-plc-pag-enabled .owl-nav {
        
        .owl-prev,
        .owl-next {
            $pos: calc(-50% - 19px); // 19 is is half height of pagination control
            @include edgtfTransform(translateY($pos));
        }
    }

    .owl-dots {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        margin: 12px 0 0;

        .owl-dot {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 12px;
            height: 12px;
            background-color: #afafaf;
            border-radius: 3em;
            margin: 0 6px;
            @include edgtfTransition(background-color .2s ease-out);

            &:hover,
            &.active {
                background-color: $default-heading-color;
            }
        }
    }
}
/* Woocommerce Product List Shortcode - end
========================================================================== */