/* ==========================================================================
# Search template responsive style - begin
========================================================================== */

@media only screen and (max-width: $ipad-landscape) {

    .search .edgtf-content .edgtf-content-inner > .edgtf-container > .edgtf-container-inner {
        padding: 40px 0 0;
    }

    .edgtf-search-page-holder {

        article {

            .edgtf-post-image {
                width: 82px;
            }

            .edgtf-post-title-area {
                padding: 0 0 0 108px;
                min-height: 82px;
            }
        }
    }
}

@media only screen and (max-width: $phone-landscape) {

    .edgtf-search-page-holder {

        article {

            .edgtf-post-image {
                width: 72px;
            }

            .edgtf-post-title-area {
                padding: 0 0 0 92px;
                min-height: 72px;
            }
        }
    }
}

/* ==========================================================================
# Search template responsive style - end
========================================================================== */