/* ==========================================================================
# Portfolio Single Big Images - begin
========================================================================== */

.big-images {
    margin: 0 0 60px;

    .edgtf-big-image-holder {
        margin: 0 0 53px;
    }

    .edgtf-portfolio-media .edgtf-portfolio-single-media {
        margin: 0 0 10px;

        &:last-child {
            margin: 0;
        }

        a, img {
            display: block;
        }
    }

    .edgtf-portfolio-single-navigation {
        margin: 18px 0 0;
    }

    .edgtf-portfolio-info-holder {
        margin: 0 0 0 26px;
    }
}

@include ipad-landscape {

    .big-images .edgtf-portfolio-info-holder {
        margin: 0;
    }
}
/* ==========================================================================
# Portfolio Single Big Images - end
========================================================================== */