/* ==========================================================================
# Portfolio Single Small Slider - begin
========================================================================== */
.small-slider {
	margin: 0 0 60px;

	.edgtf-follow-portfolio-info {
        position: relative;
    }

    .edgtf-portfolio-info-holder {
        margin: 0 0 0 26px;
    }
}

@include ipad-landscape {

    .small-slider .edgtf-portfolio-info-holder {
        margin: 32px 0 0 !important;
    }
}

/* ==========================================================================
# Portfolio Single Small Slider - end
========================================================================== */