.edgtf-header-classic {

	.edgtf-page-header {

		.edgtf-menu-area {
			height: 70px;
		}

		.edgtf-logo-area {
			height: 118px;
		}
	}

    .edgtf-menu-area {

        .edgtf-vertical-align-containers {

            .edgtf-position-center-inner {
                height: 100%;
            }
        }
    }

    .edgtf-main-menu {
        width: auto;
    }

	.edgtf-logo-area {

		.edgtf-logo-wrapper {
			padding-top: 46px;
		}
	}
}