/* ==========================================================================
   WooCommerce Single Product Page Responsive styles - begin
   ========================================================================== */

@include laptop-landscape-large {

    .edgtf-single-product-summary {
        margin: 30px 0 0;
    }

    .edgtf-woo-single-page {

        &.edgtf-woo-single-page-layout-full-width {

            .product {

                .images {
                    width: 62%;
                }
                
                .edgtf-single-product-summary {
                    width: 38%;
                    padding: 0 20px 0 15px;
                }
            }
        }
    }
}

@media only screen and (min-width: $ipad-landscape-plus-pixel) and (max-width: $laptop-landscape) {

    .edgtf-woo-single-page {

        .woocommerce-tabs {

            ul.tabs {

                > li {

                    a {
                        font-size: 11px;
                        padding: 0 6px 7px;
                    }
                }
            }
        }
    }
}

@include ipad-landscape {

    .edgtf-woo-single-page {

        &.edgtf-woo-single-page-layout-full-width {

            .product {

                .edgtf-single-product-content {
                    display: block;
                    width: 768px;
                    margin-left: auto;
                    margin-right: auto;
                }

                .images,
                .edgtf-single-product-summary {
                    width: 100%;
                    padding: 0;
                }
            }
        }

        .product {

            .images,
            .edgtf-single-product-summary {
                float: none;
                width: 100%;
                padding: 0;
            }
        }
    }
}

@include ipad-portrait {

    .edgtf-woo-single-page {

        &.edgtf-woo-single-page-layout-full-width {

            .product {

                .edgtf-single-product-content {
                    width: 600px;
                }
            }
        }

        .related.products {

            .edgtf-related-title {

                .edgtf-related-text {
                    padding: 0 30px;
                }
            }
        }

        .upsells.products {

            .edgtf-upsells-title {

                .edgtf-upsells-text {
                    padding: 0 30px;
                }
            }
        }
    }

    .edgtf-single-product-summary {

        form.cart {

            a.button,
            input[type="submit"],
            button[type="submit"] {
                height: 38px;
                line-height: 38px;
                padding: 0 28px;
            }
        }
    }
}

@include phone-landscape {

    .edgtf-woo-single-page {

        &.edgtf-woo-single-page-layout-full-width {

            .product {

                .edgtf-single-product-content {
                    width: 420px;
                }

                .images  {

                    > a {
                        float: none;
                        width: 100%;
                        padding: 8px 0 0;
                    }
                }
            }
        }

        .product {

            .images {

                .thumbnails {

                    &.columns-2 {

                        a {
                            float: none;
                            width: 100%;
                        }
                    }

                    &.columns-4 {

                        a {
                            width: 50%;
                        }
                    }
                }
    
                &.woocommerce-product-gallery--columns-4 {
        
                    .woocommerce-product-gallery__image {
            
                        &:not(:first-child) {
                            width: 50%;
                        }
                    }
                }
            }
        }

        .related.products {

            .edgtf-related-title {

                .edgtf-related-text {
                    padding: 0 20px;
                }
            }
        }

        .upsells.products {

            .edgtf-upsells-title {

                .edgtf-upsells-text {
                    padding: 0 20px;
                }
            }
        }
    }
}

@include phone-portrait {

    .edgtf-woo-single-page {

        &.edgtf-woo-single-page-layout-full-width {

            .product {

                .edgtf-single-product-content {
                    width: 300px;
                }
            }
        }

        .woocommerce-tabs {

            ul.tabs {

                > li {
                    float: none;
                    width: 100%;
                    padding: 7px 0 0;

                    a {
                        display: block;
                    }
                }
            }
        }

        .related.products {

            .edgtf-related-title {

                .edgtf-related-text {
                    padding: 0 12px;
                }
            }
        }

        .upsells.products {

            .edgtf-upsells-title {

                .edgtf-upsells-text {
                    padding: 0 12px;
                }
            }
        }
    }
}
/* ==========================================================================
   WooCommerce Single Product Page Responsive styles - end
   ========================================================================== */